@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Kanit&family=Maven+Pro&family=Montserrat&family=Sen:wght@400;700&display=swap');


/*Here we are going to traite our project which is to guess a number 
and first of all we're going to start by the reset and after it gonna be our body in this first commit*/

*,
::after, ::before{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    background-color: #e8e4c9;
    font-family: 'Montserrat', sans-serif;
}

/* This section contains all the parts of our section */
.section{
    width: 70%;
    height: 80vh;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px #000;
}
/* The header part */
header{
    padding: 30px 30px;
    border-bottom: 4px solid #799b5f;
}
header .top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .top-header button{
    border: none;
    outline: none;
    padding: 10px 15px;
    font-weight: bolder;
    color: #fff;
    background-color: #799b5f;
    font-family: 'Montserrat', sans-serif;
}
header .middle-header{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}
header .number{
    color: #fff;
    padding: 8px 12px;
    width: 200px;
    font-size: 2rem;
    position: absolute;
    left: 43%;
    text-align: center;
    transform: rotate(50%, 50%);
    background-color: #799b5f;
}

/* This part contains the mai part behind our header part */
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px 40px;
    margin-top: 70px;
}

main .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main .left .guess{
    border: none;
    outline: none;
    padding: 20px 10px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #000;
    font-family: 'Montserrat', sans-serif;
}
main .left .btn{
    border: none;
    outline: none;
    color: #fff;
    width: fit-content;
    padding: 10px 20px;
    font-weight: bolder;
    margin: auto;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    background-color: #799b5f;
}


/* This part consist to the section which has the class right */
main .right{
    font-weight: bolder;
    letter-spacing: 2px;
}
main .right .message{
    margin-bottom: 30px;
}